---
page_title: Oh Dear Provider
description: |-
  Monitor sites with Oh Dear.
---

# Oh Dear Provider

Setup monitors with [Oh Dear](https://ohdear.app/).

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
